/* 
    Created on : Jul 15, 2015, 9:31:11 AM
    Author     : kgaitonde
*/
body {
    background-color: #F9F9F9;
}

.navbar,nav,collapse{ 
    height:95px;     
}

.brady-color{ 
    background: rgba(76,142,192,1);
}

.video-widget{
    height: 199px;
    width:  350px;  
}
.weather-widget{
    height: 189px;
    width:  350px;  
}
.remember-me{
    color:white;
}