/* 
    Created on : Jul 15, 2015, 9:31:11 AM
    Author     : kgaitonde
*/
body {
    //background-color: #F9F9F9;
    background-color: rgba(76,142,192,1);;
}

.foot{ 
    background: rgba(1,1,1,0.8);
}



.remember-me{
    color:white;
}